{% load mptt_tags %}
<ul>
    {% recursetree categories %}
            <li style="list-style-type: none;">

                {% if node.level == 0 or node.level == 1 %}
                    {{ node.name }}
                {% else %}
                    <a href="{% url 'products_list' pk=node.id %}">
                        {{ node.name }}
                    </a><br/>
                {% endif %}

                {% if node.level == 2 and not node.get_next_sibling %}
                    <a href="{% url 'products_list_all' key=node.parent.id %}">
                        All {{ node.parent }}
                    </a>
                {% endif %}

                {% if not node.is_leaf_node %}
                    <ul>{{ children }}</ul>
                {% endif %}

            </li>
    {% endrecursetree %}
</ul>
